# Maven
target/
mvnw
mvnw.cmd
.mvn/

# Gradle
build/
.gradle/

# IDE files
.idea/
*.iml
*.ipr
*.iws
*.log
*.log.*
*.logs/

# OS-specific files
.DS_Store
Thumbs.db

# Compiled bytecode
*.class

# Logs
log/
*.log

# Package Files
*.jar
*.war
*.ear
*.zip